*.iml
*.iws
target/
.sonar/
.sonarlint/
.env
.env.docker
.env.production
.git/
.gitignore
.vs/
.vscode/
docker-compose*.yml
*.md
hosts
LICENSE
*.testsettings
**/bin/
**/obj/
global.json
.DS_Store
__pycache__/
*.pyc
